<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark col-md-3 ms-sm-auto col-lg-2" style="min-height: calc(100vh - 56px);">
  <h6>Your Portfolios</h6>
  <ul class="nav nav-pills flex-column mb-auto">
    <% if @portfolios.any? %>
      <% @portfolios.each do |portfolio| %>
        <li class="nav-item">
          <%= link_to portfolio.name, portfolio_path(portfolio), class: "nav-link bg-body-secondary text-dark mb-2" %>
        </li>
      <% end %>
    <% else %>
      <p>You have no portfolios yet.</p>
    <% end %>
    <%# <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        Home
      </a>
    </li> %>
  </ul>
  <hr>
  <%= link_to "Add Portolio", new_portfolio_path, class: "btn btn-primary" %>
</div>