<%= render "shared/nav" %>
<div class="container-fluid">
  <div class="row">
    <%= render 'shared/sidebar' %>
    <!-- Main content will go here -->
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h1>Welcome to the Dashboard</h1>
      <p>This is your main content area.</p>
    </div>
  </div>
</div>
